table-matrix {
  display: block;
}

table-matrix #table-container .table-row {
  display: flex;
}

table-matrix #table-container .table-row button-color {
  flex-grow : 1;
  flex-basis : 0;
  text-align: center;
}

table-matrix ic-on {
	width : 100%;
}

table-matrix ic-on svg {
	width : 100%;
}

table-matrix ic-on[art=info] svg {
  fill : #4887cc;
}