table-matrix {
  display: block;
}

table-matrix[hidden] {
  display: none;
}

table-matrix table {
  border-collapse: separate;
  border-spacing: 0;
  text-align: left;
  width: 100%;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
}

table-matrix * {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

/* SELECTED CELL*/
table-matrix .active {
  box-shadow: inset 0 0 0px 4px #429fdf;
  /*outline: 3px solid #fff; #429fdf; */
  border-radius: 3px;
}

/* ALTERNATIVES >>8 or << */
table-matrix [data-alternatives]:before {
  font-family: FontAwesome;
  content: "\f101";
  font-size: 2rem;
}
table-matrix [data-alternatives]:after {
  content: attr(data-alternatives);
  vertical-align: top;
}
table-matrix [data-alternatives="0"] {
  cursor: default;
}
table-matrix [data-alternatives="0"]:before {
  content: "";
}
table-matrix [data-alternatives="0"]:after {
  content: "";
}
table-matrix [data-alternatives].close:before {
  font-family: FontAwesome;
  font-size: 2rem;
  content: "\f100";
}
table-matrix [data-alternatives].close:after {
  content: "";
}


table-matrix [data-grad][data-atc]:before {
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  height: 80%;
  line-height: 50px;
  width: 80%;
  margin-top: 0;
  margin-left: 0;
}

table-matrix [data-grad][data-atc1]:before {
  box-sizing: border-box;
  border-radius: 5px;
  display: inline-block;
  height: 34px;
  line-height: 34px;
  width: 29px;
  padding-right: 5px;
  margin-top: 0;
  margin-left: 0;
  margin-right: 13px;
}


/* ARROW OF LEFTARROW */
table-matrix [data-grad][data-atc1]:after {
  border-top: solid transparent;
  border-left: solid transparent;
  border-bottom: solid transparent;
  border-right-style: solid;
  border-width: 16px;
  content: "";
  display: inline-block;
  height: 0;
  width: 0;
  top: 0;
  margin-top: 1px;
  left: 2px;
  position: relative;
  float: left;
  margin-left: -14px;
}

table-matrix [data-grad][data-text]:before {
  color: #fff;
  content: attr(data-text);
  background: transparent;
  border-bottom-width: 3px;
  border-radius: 0 !important;
  border-bottom-style: solid;
}

/* Grad */
[data-grad]:before {
  color: #333;
}

[data-grad]:before {
  content: attr(data-grad);
}

[data-grad="?"]:before {
  font-family: FontAwesome;
  font-size: 2rem;
  content: "\f254"; /* hourglass */
  content: "\f129"; /* (i) */
  content: "\f06a"; /* i */
  content: "\f05e"; /* (/) */
  color:#696969;
}

[data-grad="?"]:before { background: rgb(185,185,185); }
[data-grad="?"][data-text]:before,
[data-grad="?"][data-atc1]:after { border-color: rgb(185,185,185); }

[data-grad="O"]:before { background: rgb(76, 169, 233); }
[data-grad="O"][data-text]:before,
[data-grad="O"][data-atc1]:after { border-color: rgb(76, 169, 233); }

[data-grad="A"]:before { background: rgb(158, 226, 115); }
[data-grad="A"][data-text]:before,
[data-grad="A"][data-atc1]:after { border-color: rgb(158, 226, 115); }

[data-grad="B"]:before { background: rgb(229, 230, 127); }
[data-grad="B"][data-text]:before,
[data-grad="B"][data-atc1]:after { border-color: rgb(229, 230, 127); }

[data-grad="C"]:before { background: rgb(235, 200, 140); }
[data-grad="C"][data-text]:before,
[data-grad="C"][data-atc1]:after { border-color: rgb(235, 200, 140); }

[data-grad="D"]:before { background: rgb(240, 164, 127); }
[data-grad="D"][data-text]:before,
[data-grad="D"][data-atc1]:after { border-color: rgb(240, 164, 127); }

[data-grad="X"]:before { background: rgb(240, 138, 136); }
[data-grad="X"][data-text]:before,
[data-grad="X"][data-atc1]:after { border-color: rgb(240, 138, 136); }